
/* h1:last-child{
    background-color: blanchedalmond;
} */
h1:first-child{
    background-color: aqua;
}
/* h1:nth-child(odd){
    background-color: chartreuse;
} */
/* h1:first-of-type{
    background-color: crimson;
}
h1:last-of-type{
    background-color: darkorange;
} */
p{
    font-family: 'Sevillana', cursive;
}