/* p{
    color: orange;
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-variant: small-caps;
} */
*{
    background-image:url(./image/photo-1548217395-6c6095abb49c.jpeg) ;
    /* background-size: ;
    background-repeat: repeat; */
    /* height: 300px;
    width: 300px; */
    /* background-position: center; */
    background-attachment: scorll;

}