a:link{
    color: red;
    background-color: green;
}
a:active{
    color: white;
    background-color: black;
}
a:visited{
    color: rgb(50, 165, 42);
    background-color: crimson;
}
input:focus{
    background-color:coral;
    height: 100px;
    width: 100px;
    outline: none;
     caret-color: blue;
}
input[type='radio']:checked{
    height: 20px;
    width: 20px;
    accent-color: red;
    box-shadow: 10px 10px 1px blue;
}
div{
    border: 3px solid;
}
div:hover{
    height: 150px;
    width: 150px;
    background-color: aqua;
    border-radius: 100%;
}
button:hover{
    color: chartreuse;
    background-color: red;
    border-radius: 10px;
    text-align: center;
}