p::first-letter{
    color: rgb(30, 210, 48);
    font-size: 25px;
}
h3::first-line{
    color: cyan;
    background-color: darkorange;
}
h4::before{
    content: url("https://cdn.pixabay.com/photo/2022/12/19/15/29/ice-block-7665945_640.jpg");
    height: 200px; width: 200px;
}
 li::marker{
    content: "😍";
}
#demo::marker{
    content: "🤗";
}
#demo1::marker{
    content: "🤩";
}
#demo2::marker{
    content: "🙃";
}
#demo3::marker{
    content: "😉";
}
p::selection{
    color: orangered;
    background-color: rgb(255, 0, 140);
}
