#div1{
   border: 1px solid;
   word-spacing: 30px;
   color: blueviolet;
   background-color: gray;
   font-weight: bold;
}
#div3{
   position: relative;
   top: 20px;
   left: 400px;
}
#div2{
   background-color: gray;
   height: 750px;
   width: 100%;
}
#class1{
   font-weight: normal;
   text-transform: uppercase;
}
#img1{
   height: 400px;
   width: 900px;
}
#class2{
   border-radius: 30px;
   color: white;
   background-color: blue;
   padding: 10px;
}
#img2{
   height: 300px;
   width: 300px;
   
}
#img3{
   height: 300px;
   width: 300px;
   
}
#div4{
   width: 320px;
   height: 720px;
   position: absolute;
   left: 20px;
   top: 52px;
   background-color: white;
}
#div5{
   position: relative;
   left: 10px;
}
#div6{
   border: 1px solid;
   position: relative;
   top: 10px;
   background-color: gray;
}

