#img1{
    height: 200px;
    width: 200px;
    z-index: 1;
    position: absolute;
    left: 500px;
    opacity: 1;
    background-color: white;
}
#img2{
  height: 200px;
  width: 200px;
  position: absolute;
  z-index: 1;
  opacity: 0.5;
  top: 800px;
}

